<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.classroom.domain.notice.mapper.NoticeMapper">
    <insert id="insertNotice" parameterType="notice"
            useGeneratedKeys="true" keyProperty="id">
        insert into notice(classroom_id, content)
                        values(#{classroomId}, #{content})
    </insert>
    <insert id="insertAttachment" parameterType="noticeAttachment">
        insert into notice_attachment(notice_id, file_name, file_size, file_url, file_content_type)
                        values(#{noticeId}, #{fileName}, #{fileSize}, #{fileUrl}, #{fileContentType})
    </insert>
    <insert id="insertReply" parameterType="noticeReply">
        insert into notice_reply(writer_id, notice_id, content)
            values(#{writerId}, #{noticeId}, #{content} )
    </insert>
    <select id="selectNoticesByClassroomId" parameterType="string" resultType="notice">
        select * from notice where classroom_id=#{classroomId} order by created_at desc
    </select>
    <select id="selectAttachmentsByNoticeId" parameterType="int" resultType="noticeAttachment">
        select * from notice_attachment where notice_id=#{noticeId}
    </select>
    <select id="selectReplysByNoticeId" parameterType="int" resultType="noticeReply">
        select * from notice_reply where notice_id=#{noticeId} order by created_at asc
    </select>
</mapper>